doctype html
head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title= subject

    include styles
.container
    .content
        block content
    .footer
        span  Wizcove IT, Hải Châu, Tp. Đà Nẵng
        br
        p Don't like these emails?
            a(href='#') Unsubscribe