extends base-email

block content
    p Hi #{firstName}
    p Don't worry, it happens!
    p Click on the button below to reset your password:
    p (Website for this action not yet implemented.)
    a.btn(href=`${resetLink}`) Reset your password
    p If you did not request any password resets, then ignore this email.`;