style.
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #f6f6f6;
        font-size: 14px;
        font-family: sans-serif;
    }

    .container {
        display: block;
        margin: 0 auto !important;
        max-width: 580px;
        padding: 10px;
        width: 580px;
    }

    .content {
        background: #ffffff;
        border-radius: 3px;
        width: 100%;
        padding: 20px;
    }

    .content p, .content a {
        margin-bottom: 15px;
    }

    .footer {
        text-align: center;
        color: #999999;
        font-size: 12px;
        text-align: center;
        padding: 15px;
    }

    .footer a {
        text-decoration: none;
    }

    .footer p {
        margin-top: 5px;
    }

    .btn {
        background-color: #55c57a;
        border: solid 1px #55c57a;
        border-radius: 5px;
        color: #fffF;
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        padding: 12px 25px;
        text-decoration: none;
        text-transform: capitalize;
    }

    .btn:focus {
        border: solid 1px #55c57a;
    }